<!DOCTYPE html>
<html>
<head>
  <title>SpecialDelivery</title>
  <%= stylesheet_link_tag    "special_delivery/application", media: "all" %>
  <%= javascript_include_tag "special_delivery/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
